@theme {
  --font-serif: "Montserrat", sans-serif;
  --font-sans: "Inter", sans-serif;

  --color-background: #F7F7F7;
  --color-foreground: #111111;

  --color-primary: #111111;
  --color-secondary: #666666;

  --ease-expo-out: cubic-bezier(0.16, 1, 0.3, 1);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
    font-weight: 400;
  }
}